.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}

.r-tabs .r-tabs-tab {

    list-style: none;
}

.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
    .pcb-rapido-precio h1 {
        font-size: 38px !important;
    }
    .pcb-profecional-colores label{
        width: 25% !important;
        margin-top: 1%;
    }
    .pcb-profecional-precio h1 {
        font-size: 38px !important;
    }
}
@media only screen and (max-width: 548px) {
    #ex1 {
        margin-top: 20%;
    }
    .form-modal{
        height: 100%;
        }
    .form-modal-left {
        width: 100% !important;
    }
    .form-modal-right {
        width: 100% !important;
    }
}