#btn-menu {
    display: none;
}

header label {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:992px) {
    /* slider */
    .slider {
        height: 60vh;
    }
    .slider-control {
        bottom: 10%;
    }
    .redesSociales {
        top: 80%
    }
    /* end slider */
    /* Servicios */
    .serv-icons {
        width: 35%;
        margin: 10px;
        padding: 6% 0;
    }
    .serv-icons:hover {
        height: 240px;
    }
    /* end servicios */
}

@media screen and (max-width:768px) {
    /* inicio menu */
    header label {
        display: block;
        transition: all 0.4s ease;
        position: fixed;
        top: 0;
        padding: 10px;
        margin-left: 5%;
        z-index: 1500;
        color: white;
        background-color: #0e3b96;
    }
    nav {
        width: 90%;
        height: 40%;
        transform: translateX(-100%);
        transition: all 0.3;
        margin: 0;
        z-index: 25;
        top: 0;
        position: fixed;
        align-items: center;
        background-color: #0e3b96;
        flex-direction: column;
    }
    nav figure {
        width: 100%;
    }
    nav div {
        width: 100%;
        justify-content: center;
    }
    nav div ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    nav div ul li a {
        padding: 10px;
    }
    .menu-fixed {
        height: 45%;
    }
    #btn-menu:checked~.menu {
        transform: translateX(0%);
    }
    .slider {
        height: 40vh;
    }
    /* bannne effect */
    .slider-control {
        bottom: 5%;
    }
    /* fin menu */
    .redesSociales {
        top: 80%;
    }
    /* ---- servicios ---- */
    .serv-icons {
        width: 80%;
        height: 250px;
    }
    .serv-icons:hover {
        height: 250px;
        transition: none;
    }
    .serv-icons p {
        opacity: 1;
    }
    .serv-icons a {
        opacity: 1;
    }
    /* ---- end servicios---- */
    /* nosotros */
    .nosotros {
        height: 70vh;
    }
    /* end nosotros */
    .container .info {
        width: 100%;
        text-align: center;
    }
    .container img {
        width: 50%;
        margin: 5% auto
    }
    .contact-form {
        width: 40%;
    }
    .contact {
        width: 40%;
    }
    .footlogo {
        width: 100%;
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width:576px) {
    nav {
        width: 95%;
        height: 50%;
    }
    nav figure {
        margin-top: 10%;
    }
    .menu-fixed {
        width: 95%;
        height: 50%;
    }
    /* bannne effect */
    .slider-control {
        bottom: 2%;
    }
    .redesSociales {
        top: 75%;
    }
    .text-slider-wrapper h1 {
        font-size: 14px;
        text-shadow: none;
        background-color: rgba(0, 0, 0, .3)
    }
    .slider div img {
        height: 40vh;
    }
    /* end banner */
    .nosotros {
        height: 100%;
        margin-bottom: 20px
    }
    section .info {
        width: 100%;
    }
    .nosotros img {
        width: 100%;
    }
    /* ----inicio servicios---- */
    .services-info {
        padding: 15% 0;
    }
    .serv-icons {
        width: 90%;
        height: 250px;
    }
    .serv-icons:hover {
        height: 250px;
        transition: none;
    }
    .serv-icons p {
        opacity: 1;
    }
    .serv-icons a {
        opacity: 1;
    }
    .serv-icons:hover a {
        transition: none;
        opacity: none;
    }
    /*---- fin servicios ----*/
    .contact-form {
        width: 90%;
        text-align: center;
    }
    .contact {
        width: 100%;
        text-align: center;
    }
    .slider-control div {
        width: 8%;
    }
}