#btn-menu {
    display: none;
}

.nav-sandwich {
    display: none;
}

header label {
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width:992px) {
    /* slider */
    .redesSociales {
        top: 85%;
        left: 90%;
    }
    /* end slider */
    /* Servicios */
    .serv-icons {
        width: 35%;
        margin: 10px;
        padding: 6% 0;
    }
    .serv-icons:hover {
        height: 240px;
    }
    /* end servicios */
    /* Software */
    .sof-banner span {
        font-size: 24px;
    
    }
    .har-banner-tex{
        width: 40%;
    }
    .har-banner-tex h1 {
        font-size: 30px;
        margin: 0%;
        width: 100%;
    }
    .har-banner-tex span{
        margin: 2% 0;
        width: 90%;
        font-size: 24px;
        font-weight: lighter;
    }
    .har-banner-cotizador {
        width: 55%;
    }
}

@media screen and (max-width:768px) {
    header {
        background-color: transparent;
    }
    /* ---- ---- swiper ---- ---- */
    .swiper-container {
        height: 100vh;
    }
    .swiper-slide span {
        top: 10%;
        font-size: 22px;
    }
    .swiper-slide-img1 {
        left: 2%;
        top: 25%;
    }
    .swiper-slide-img2 {
        top: 25%;
    }
    .swiper-slide-img3 {
        top: 20%;
    }
    .swiper-slide-img4 {
        top: 30%;
    }
    .swiper-slide span {
        top: 30%;
    }
    /* ---- ---- end swiper ---- ---- */
    .nosotros {
        padding: 15% 0% 15% 0%;
    }
    /* fin menu */
    .redesSociales {
        top: 85%;
        left: 90%;
    }
    /* ---- servicios ---- */
    .serv-icons {
        width: 80%;
        height: 250px;
    }
    .serv-icons:hover {
        height: 250px;
        transition: none;
    }
    .serv-icons p {
        opacity: 1;
    }
    .serv-icons a {
        opacity: 1;
    }
    /* ---- end servicios---- */
    /* nosotros */
    .nosotros {
        height: 70vh;
    }
    /* end nosotros */
    .container .info {
        width: 100%;
        text-align: center;
    }
    .container img {
        width: 50%;
        margin: 5% auto
    }
    .contact-form {
        width: 40%;
    }
    .contact {
        width: 40%;
    }
    .footlogo {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    /*------------ software ---------- */
    .sof-banner img{
        width: 60%;
        margin-top: 10%;
    }
    .sof-banner span {
        font-size: 24px;
        width: 100%;
    }

    .sof-sistemas {
        height: 100%;
    }
    .sof-sistemas h1 {
        width: 100%;
        z-index: 1;
    }
    .sof-sistemas section {
        height: 100%;
    }
    .sof-sistemas section article {
        width: 70%;
        height: 25%;
        margin: 2%;
        padding: 4%;
    }
    .sof-sistemas section article img {
        margin-top: 0%;
    }
    .sof-apps{
        height: 100%;
    }
    .sof-apps figure{
        width: 70%;
        margin-top: 5%;
    }
    .sof-apps article {
        width: 100%;
        text-align: center;
    }
    /*-----------endsoftware -----------*/
    /*-----------hardware -----------*/
    .har-banner {
        height: 100%;
    }
    .har-banner-tex {
        margin-top: 15%;
        width: 80%;
    }
    .har-banner-tex span{
        display: none;
    }
    .har-banner-cotizador{
        width: 85%;
        height: 90%;
        margin-bottom: 10%;
    }
    .har-entregables {
        height: 100%;
        flex-direction: row-reverse;
    }
    .har-entregables h1 {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .har-entregables .har-entregables-content{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .har-entregables article{
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .har-entregables-data {
        justify-content: center;
        align-content: baseline;
        width: 41%;
        text-align: center;
        margin: 2%;
    }
    .har-entregables-data figure {
        width: 100%;
    }
    .har-entregables-data figure img{
        width: 64px;
    }
    .har-entregables-data div {
        width: 100%; 
    }
    
    .har-entregables .hardware-img{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .har-entregables .hardware-img img{
        width: 80%;
    }
    .har-store article{
        margin: 5% 0 2% 0;
        width: 70%;
        padding: 5% 0;
        background-color: white;
        text-align: center;
    }
    .har-store figure{
        width: 80%;
        margin: 0%;
        padding: 0;
    }
    .har-store figure img{
        width: 100%;
    }
}

@media screen and (max-width:576px) {
    /* bannne effect */
    .swiper-container {
        height: 90vh;
    }
    .swiper-slide-img1 {
        width: 90%;
        left: 5%;
    }
    .swiper-slide-img2 {
        width: 55%;
        top: 12%;
        left: 22.5%;
    }
    .swiper-slide-img3 {
        width: 90%;
        top: 0%;
        left: 5%;
    }
    .swiper-slide-img4 {
        width: 90%;
        top: 25%;
        left: 5%;
    }
    .swiper-slide span {
        margin-bottom: 20%;
        width: 90%;
        right: 0;
        top: 65%;
        font-size: 20px;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    /*end banner*/
    .redesSociales {
        top: 86%;
        left: 80%;
    }
    /* end banner */
    .nosotros {
        height: 100%;
        margin-bottom: 20px;
        padding: 5% 0% 5% 0%;
    }
    section .info {
        width: 100%;
    }
    .nosotros img {
        width: 100%;
    }
    /* ----inicio servicios---- */
    .services-info {
        padding: 15% 0;
    }
    .serv-icons {
        width: 90%;
        height: 250px;
    }
    .serv-icons:hover {
        height: 250px;
        transition: none;
    }
    .serv-icons p {
        opacity: 1;
    }
    .serv-icons a {
        opacity: 1;
    }
    .serv-icons:hover a {
        transition: none;
        opacity: none;
    }
    /*---- fin servicios ----*/
    .contact-form {
        width: 90%;
        text-align: center;
    }
    .contact {
        width: 100%;
        text-align: center;
    }
    .slider-control div {
        width: 8%;
    }
    /* ----- software ----- */
    .sof-banner {
        height: 100vh;
    }
    .sof-banner img{
        width: 80%;
        margin-top: 10%;
    }
    .sof-banner span{
        font-size: 22px;
    }
    .sof-sistemas-img2 {
        width: 175px;
        height: 105px;
    }

    .sof-app-data {
        width: 100%;
        margin-top: 2%;
    }
   
    /* ----- end software ----- */
    /* ----- hardware ----- */
    .har-banner-tex {
        margin-top: 20%;
        width: 80%;
    }
    .har-banner-tex span{
        display: none;
    }
    .har-banner-cotizador{
        width: 95%;
        height: 80%;
        margin-bottom: 10%;
    }
    .har-diseno {
        height: 100vh;
 
    }
    .har-diseno figure {
        width: 75%;
        margin: 5%;
    }
    .har-diseno figure img {
        width: 100%;
    }
    .har-diseno article {
        width: 80%;
        padding: 5%;
        text-align: center;
    }
    .har-diseno article a{
        margin-top: 5%;
        font-size: 15px;
        text-decoration: none;
        color: #076FFB;
        padding: 5px 20px;
        border: 2px solid #076FFB;
        border-radius: 20px;
    }
    .har-entregables-data {
        width: 90%;
        margin: 0;
    }

    .har-entregables .hardware-img{
        margin: 0;
    }
    .har-entregables .hardware-img img{
        width: 100%;
    }
    .har-store h1 {
        font-size: 30px;
    }
    .har-store a
    img.ml-store{
    width: 140px;
    margin-bottom: -12px;
    margin-left: 0%;
    }
}