/* Tabs container */

.r-tabs {
    position: relative;
    height: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 10px;
    backdrop-filter: blur(20px);
}


/* Tab element */

.r-tabs .r-tabs-nav .r-tabs-tab {
    position: relative;
    margin: 0;
}

.r-tabs-nav {
    border-radius: 10px 10px 0 0;
    background-color: rgba(49, 116, 108, 0.527);
    text-align: center;
    height: 10%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* Tab anchor */

.r-tabs .r-tabs-nav .r-tabs-anchor {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
}


/* Disabled tab */

.r-tabs .r-tabs-nav .r-tabs-state-disabled {
    opacity: 0.5;
}


/* Active state tab anchor */

.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
    text-shadow: none;
    transform: scale(1.2);
    font-weight: bolder;
    transition: transform .2s;
}


/* Tab panel */

.r-tabs .r-tabs-panel {
    height: 90%;
    padding: 0;
}


/* Accordion anchor */

.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    display: block;
    padding: 10px;
    background-color: #00c5ad;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}


/* Active accordion anchor */

.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
    background-color: #fff;
    color: #00c5ad;
    text-shadow: none;
}


/* Disabled accordion button */

.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
    opacity: 0.5;
}


/* data tabs*/


/* ------ bottom file ------ */

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 10%;
    padding: 5px 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    width: 30%;
}

.pcb-profecional-cargas .custom-file-upload {
    margin-top: 2%;
    width: 15%;
}


/* ------- end bottom file ---- */


/* -------------------Global--------------------*/

input[type="text"],
input[type="number"],
textarea,
input[type="email"],
input[type="tel"],
select {
    padding: 7px 0;
    padding-left: 2%;
    border: solid 0px rgba(0, 0, 0, .2);
    border-radius: 5px;
    margin-top: 2%;
    background-color: white;
}

input[type="text"]:hover,
input[type="number"]:hover,
textarea:hover select:hover {
    -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    -moz-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}


/* ------------------- pcb rapido -------------------  */

.pcb-rapido-conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 96%;
    height: 96%;
    color: white;
    padding: 2%;
}

.pcb-rapido-conteiner figure {
    margin: 5% 0;
    width: 100%;
    flex-flow: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pcb-rapido-conteiner figure figcaption {
    width: 75%
}

.pcb-rapido-conteiner img {
    width: 17%;
}

.pcb-rapido-dimension {
    width: 40%;
    height: 15%;
}

.pcb-rapido-dimension input {
    width: 30%;
}

.pcb-rapido-img1 {
    width: 40%;
    height: 15%;
}

.pcb-rapido-cantidad {
    width: 40%;
    height: 15%;
}

.pcb-rapido-cantidad input {
    width: 30%;
}

.pcb-rapido-img2 {
    width: 40%;
    height: 15%;
}

.pcb-rapido-observacion {
    width: 40%;
    height: 15%;
}

.pcb-rapido-observacion textarea {
    padding: 5% 0;
    width: 90%;
}

.pcb-rapido-img3 {
    width: 40%;
    height: 15%;
}

.pcb-rapido-cargas {
    width: 40%;
    height: 20%;
}

.pcb-rapido-img4 {
    width: 40%;
    height: 15%;
}

.pcb-rapido-solicitar {
    width: 40%;
    height: 15%;
}

.pcb-rapido-solicitar a.pcb-rapido-left-boton {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    width: 40%;
    text-align: center;
}

.pcb-rapido-precio {
    width: 40%;
    height: 15%;
}

.pcb-rapido-precio h1 {
    font-size: 50px;
    margin: 0%;
    display: inline-block;
}

.pcb-rapido-precio h3 {
    color: red;
}

.pcb-rapido-precio h4 {
    display: inline-block;
    margin: 0%;
}


/* ---------  end pcb rapido ----------- */


/* ------------ pcb profecional -----------  */

.pcb-profecional-conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 96%;
    height: 96%;
    padding: 2%;
    color: white;
}

.pcb-profecional-dimension {
    width: 45%;
    height: 15%;
}

.pcb-profecional-dimension input {
    width: 30%;
}

.pcb-profecional-grosor {
    width: 45%;
}

.pcb-profecional-cantidad {
    width: 22.5%;
}

.pcb-profecional-cantidad select {
    width: 90%;
}

.pcb-profecional-capas {
    width: 22.5%;
}

.pcb-profecional-capas select {
    width: 90%;
}

.pcb-profecional-observaciones {
    width: 45%;
}

.pcb-profecional-observaciones textarea {
    padding: 5% 0;
    width: 90%;
}

.pcb-profecional-colores {
    width: 95%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.pcb-profecional-colores .verde {
    background-color: #57BE42;
    border: solid 2px #57BE42;
}

.pcb-profecional-colores .rojo {
    background-color: #F3493C;
    border: solid 2px #F3493C;
}

.pcb-profecional-colores .amarillo {
    background-color: #EEE831;
    border: solid 2px #EEE831
}

.pcb-profecional-colores .azul {
    background-color: rgb(50, 139, 255);
    border: solid 2px rgb(50, 139, 255);
}

.pcb-profecional-colores .blanco {
    background-color: white;
    border: solid 2px rgb(0, 0, 0);
    color: black;
}

.pcb-profecional-colores .negro {
    background-color: black;
    border: solid 2px rgb(0, 0, 0);
}

.pcb-profecional-colores span {
    display: block;
    margin: 2% auto;
    width: 100%;
}

.pcb-profecional-colores input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.pcb-profecional-colores label {
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    width: 15%;
    text-align: center;
    padding: 1% 0;
}

.pcb-profecional-colores input[type=radio]:checked+label {
    border: solid 2px rgb(255, 255, 255);
    transition-duration: .3s;
}

.pcb-profecional-acabado {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}

.pcb-profecional-acabado span {
    display: block;
    margin: 2% auto;
    width: 100%;
}

.pcb-profecional-acabado input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}
#show_radio1, #show_radio2, #show_radio3{
    width: 33.3%;
}
.pcb-profecional-acabado label {
    display: inline-block;
    cursor: pointer;
    border: solid 2px white;
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 90%;
    text-align: center;
    padding: 1% 0;
}

.pcb-profecional-acabado input[type=radio]:checked+label {
    border: solid 2px gray;
    transition-duration: .2s;
    background: black;
    color: white;
}

.pcb-profecional-precio {
    width: 45%;
    margin-top: -7%;
    text-align: center;
}

.pcb-profecional-precio h1 {
    font-size: 50px;
    margin: 0%;
    display: inline-block;
}

.pcb-profecional-precio h4 {
    display: inline-block;
    margin: 0%;
}

.pcb-profecional-cargas {
    width: 95%;
    height: 15%;
}

.pcb-profecional-solicitar {
    width: 45%;
}

.pcb-profecional-solicitar a {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    width: 40%;
    text-align: center;
}


/* ------------ end pcb profecional -----------  */

/* ------------ diseño -----------------  */
.diseno-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 96%;
    height: 96%;
    color: white;
    padding: 2%;
}

.diseno-container div {
    width: 60%;
    align-self: center;
    text-align: initial;
}
.diseno-container figure {
    width: 20%;
    margin: 0%;
    align-self: center;
}
.diseno-container figure img {
    width: 55%;
}

.cotiza-diseno a {
   width: 40%;
   margin: 0 20%
}
/* ------------ modal general -----------------  */

.modal {
    background-color: #f2f2f2 !important;
}

.form-modal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    width: 94%;
    padding: 3%;
}

.form-modal input[type="text"],
.form-modal input[type="number"],
.form-modal textarea,
.form-modal input[type="tel"],
.form-modal input[type="email"],
.form-modal select {
    -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    -moz-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.form-modal h2 {
    width: 100%;
    text-align: center;
    font-weight: lighter;
}

.form-modal-left {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.form-modal-left label {
    width: 100%;
    margin-top: 2%;
}

.form-modal-right {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.form-modal-right label {
    width: 100%;
    margin-top: 2%;
}

textarea#direccion {
    margin-bottom: 5%;
}

.form-modal-right p {
    font-size: 9px;
    width: 100%;
    margin: 1% 0;
}

.form-modal-right button {
    font-size: 15px;
    text-decoration: none;
    color: #076FFB;
    padding: 5px 20px;
    border: 2px solid #076FFB;
    border-radius: 20px;
    background: none;
    margin: 3% 0;
}
.carga-diseno{
    margin-top: 4%;
    height: 100%;
}
.carga-diseno label{
    margin-top: 5%;
    display: block;
    width: 25%;
}

/* ------------ end modal -----------------  */