body {
    margin: 0%;
    font-family: fuente_principal;
    background-color: #F2F2F2;
}
@font-face {
    font-family: fuente_principal;
    src: url(../fonts/Muli-Regular.ttf)
}
@font-face {
    font-family: fuente_secundaria;
    src: url(../fonts/Muli-Regular.ttf)
}
@font-face {
    font-family: fuente_tercearia;
    src: url(../fonts/Muli-SemiBold.ttf)
}
@font-face {
    font-family: fuente_bold;
    src: url(../fonts/Muli-Bold.ttf)
}
@font-face {
    font-family: roboto-condesed;
    src: url(../fonts/RobotoCondensed-Regular.ttf)
}
h1 {
    font-family: fuente_bold;
}
section h3 {
    font-family: roboto-condesed;
    color: #076FFB;
    
}
h4 {
    font-family: fuente_bold;
}
header {
    width: 100%;
    height: 80px;
    display: block;
    position: absolute;
    z-index: 1;
}
header img{
    margin: 15px;
    height: 50px;
}
nav {
    float: right;
    padding: 31px;
}
nav a {
    font-size: 14px;
    font-family: fuente_tercearia;
    text-decoration: none;
    color: white;
    margin: 0 5px;
    padding: 13px;
}
section {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    z-index: 0;
}
.inicio {
    display: flex;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
}
.inicio img {
    width: 100%;
    height: 100vh;
}
.inicio .slide-menu{
    position: absolute;
    margin-top: 90vh;
    margin-left: 90vw;
}
.nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
section .info {
    padding: 5%;
    display: inline-block;
    width: 40%;
}
.nosotros img {
    display: inline-block;
    width: 50%;
}
.servicios {
    justify-content: center;
}
