body {
    margin: 0px;
    padding: 0px;
    font-family: fuente_principal;
    background-color: #F2F2F2;
    overflow-x: hidden;
}

@font-face {
    font-family: fuente_principal;
    src: url(../fonts/Muli-Regular.ttf)
}

@font-face {
    font-family: fuente_secundaria;
    src: url(../fonts/Muli-Regular.ttf)
}

@font-face {
    font-family: fuente_tercearia;
    src: url(../fonts/Muli-SemiBold.ttf)
}

@font-face {
    font-family: fuente_bold;
    src: url(../fonts/Muli-Bold.ttf)
}

@font-face {
    font-family: roboto-condesed;
    src: url(../fonts/RobotoCondensed-Regular.ttf)
}

h1 {
    font-family: fuente_bold;
}

section h3 {
    font-family: roboto-condesed;
    color: #076FFB;
}

h4 {
    font-family: fuente_bold;
}


/* inicio de menu */

header {
    width: 100%;
    height: 80px;
    display: block;
    position: absolute;
    z-index: 1;
}

nav {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.other-head{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: #0e3b96;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
nav figure {
    width: 30%;
}

nav div {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

nav div ul {
    list-style: none;
    overflow: hidden;
}

nav div ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav div ul li a {
    display: block;
    font-family: fuente_tercearia;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
}

nav div ul li a:hover {
    border-bottom: 5px white solid;
}

.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: #0e3b96;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}


/*-------- end menu -----------*/


/*-------- inicio de slider -----------*/

.inicio {
    display: flex;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.swiper-container {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-size: cover;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    background-position: center;
}

.swiper-slide span {
    color: white;
    width: 50%;
    
}

.swiper-button-next {
    color: white;
    position: absolute;
    top: 90%;
    left: 15%;
    width: 36px;
}

.swiper-button-prev {
    color: white;
    position: absolute;
    top: 90%;
    left: 5%;
}

.redesSociales {
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 20%;
    top: 90%;
    left: 95%;
}

.redesSociales a {
    color: white;
    font-size: 35px;
}


/* fin de slider */

section {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    z-index: 0;
}

.nosotros {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section .info {
    padding: 5%;
    display: inline-block;
    width: 40%;
}

.nosotros img {
    display: inline-block;
    width: 50%;
    -webkit-transform: rotate(0deg) scale(.7);
    transform: rotate(0deg) scale(.7);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.nosotros img:hover {
    -webkit-transform: rotate(15deg) scale(.7);
    transform: rotate(15deg) scale(.7);
}

.servicios {
    text-align: center;
    background-size: 100%;
    background: radial-gradient(ellipse at center, rgba(43,84,173,1) 0%, rgba(24,63,161,1) 45%, rgba(24,63,161,1) 100%);
    background-repeat: no-repeat;
}

.servicios img {
    width: 50%;
}

.services-info {
    height: 100%;
    color: white !important;
    padding: 10%;
}

.services-info h3 {
    color: white;
}

.serv-container {
    display: flex;
    flex-wrap: wrap;
}

.serv-icons {
    background-color: #1956CE;
    border-radius: 20px;
    margin: 10px auto;
    padding: 5% 6%;
    width: 30%;
    height: 75px;
    position: relative;
    transition: all .7s ease;
    cursor: pointer;
}

.serv-icons:hover {
    transition: all .7s ease;
    height: 180px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.serv-icons img {
    width: 66px;
}

.serv-icons h4 {
    margin: .6em 0;
}

.serv-icons p {
    margin: .6em 0;
    opacity: 0;
}

.serv-icons:hover p {
    transition: all .7s ease;
    opacity: 1;
}

.serv-icons a {
    opacity: 0;
    font-family: fuente_bold;
    width: 15%;
    font-size: 12px;
    text-decoration: none;
    color: #1956CE;
    padding: 5px 20px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    bottom: 8%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.serv-icons:hover a {
    transition: all .7s ease;
    opacity: 1;
}

.serv-icons a:hover {
    transition: all .7s ease;
    background-color: #0e3b96;
    color: white;
}

.conocenos {
    width: 100%;
}

.container {
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
}

.container img {
    width: 40%;
    height: 40%;
}

.container .info {
    text-align: end;
    width: 50%;
}

.container .info a {
    font-size: 15px;
    text-decoration: none;
    color: #076FFB;
    padding: 5px 20px;
    border: 2px solid #076FFB;
    border-radius: 20px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

footer h3 {
    font-family: fuente_tercearia;
}

.contact-form {
    margin: 50px auto;
    width: 25%;
    padding: 0 5%;
}

.contact-form form {
    font-size: 14px;
}

.contact-form .campo-form {
    margin: 5px auto;
    padding: 7px 0;
    padding-left: 2%;
    padding-right: 40%;
    color: white;
    background-color: #2B2B2B;
    border: 0px;
    border-radius: 3px;
}

textarea.campo-form {
    padding-bottom: 25% !important;
    padding-right: 44% !important;
}

.btn-form {
    color: white;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 20px;
    padding: 4px 30px;
}

.contact {
    margin: 50px auto;
    width: 25%;
    padding: 0 5%;
}

.footlogo {
    width: 20%;
    margin: auto 10px 20px -10px;
    text-align: end;
    padding: 0 5%;
}

.footlogo img {
    width: 220px;
    height: 50px;
}