body {
    margin: 0px;
    padding: 0px;
    font-family: fuente_secundaria;
    background-color: #F2F2F2;
    overflow-x: hidden;
}

@font-face {
    font-family: fuente_principal;
    src: url(../fonts/Muli-Regular.ttf)
}

@font-face {
    font-family: fuente_secundaria;
    src: url(../fonts/Muli-Regular.ttf)
}

@font-face {
    font-family: fuente_tercearia;
    src: url(../fonts/Muli-SemiBold.ttf)
}

@font-face {
    font-family: fuente_bold;
    src: url(../fonts/Muli-Bold.ttf)
}

@font-face {
    font-family: roboto-condesed;
    src: url(../fonts/RobotoCondensed-Regular.ttf)
}

h1 {
    font-family: fuente_bold;
}

section h3 {
    font-family: roboto-condesed;
    color: #076FFB;
}

h4 {
    font-family: fuente_bold;
}


/* inicio de menu */

header {
    /* background: #557e7c; */
    color: #ebebd3;
    padding: 1em 0;
    position: absolute;
    z-index: 5;
    width: 100%;
    display: block;
}

.logo {
    float: left;
    font-size: 1rem;
    margin: 0;
    margin-left: 5%;
}

.logo span {
    font-weight: 300;
}

.site-nav {
    top: 100%;
    right: 0%;
    width: 100%;
    position: absolute;
    background: #0e3b96;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 200ms;
    z-index: 7;
}

.site-nav-open {
    clip-path: circle(150% at top right);
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
    border-bottom: none;
}

.site-nav a {
    color: #ebedb3;
    display: block;
    padding: 1em 6em;
    text-transform: uppercase;
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    border-bottom: 8px solid white;
}

.site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4);
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: 1.5em;
    right: .5em;
}

.menu-open .hamburger {
    transform: rotate(45deg);
}

.menu-open .hamburger::before {
    opacity: 0;
}

.menu-open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #ebebd3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

@media (min-width:768px) {
    .menu-toggle {
        display: none;
    }
    .site-nav {
        height: auto;
        position: absolute;
        background: transparent;
        float: right;
        margin-right: 10px;
        top: 40%;
        right: -60%;
        clip-path: initial;
    }
    .site-nav li {
        display: inline-block;
        border: none;
    }
    .site-nav a {
        padding: 0;
        margin-left: 3em;
        color: white;
    }
    .site-nav--icon {
        display: none;
    }
    .site-nav a:hover,
    .site-nav a:focus {
        border-bottom: 5px solid white;
    }
}

.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: #0e3b96;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}


/*-------- end menu -----------*/


/*-------- inicio de slider -----------*/

.inicio {
    display: flex;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.swiper-container {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    font-size: 18px;
    background-size: cover;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    background-position: center;
}

.swiper-slide-img1 {
    position: absolute;
    width: 50%;
    top: 20%;
    left: 5%;
}

.swiper-slide-img2 {
    position: absolute;
    width: 28%;
    top: 18%;
    left: 20%;
}

.swiper-slide-img3 {
    position: absolute;
    width: 35%;
    top: 10%;
    left: 15%;
}

.swiper-slide-img4 {
    position: absolute;
    width: 45%;
    top: 25%;
    left: 10%;
}

.swiper-slide span {
    color: white;
    width: 40%;
    position: absolute;
    top: 35%;
    right: 5%;
    font-size: 30px;
    text-align: right;
}

.swiper-button-next {
    color: white;
    position: absolute;
    top: 90%;
    left: 15%;
    width: 36px;
}

.swiper-button-prev {
    color: white;
    position: absolute;
    top: 90%;
    left: 5%;
}

.redesSociales {
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 20%;
    top: 90%;
    left: 95%;
}

.redesSociales a {
    color: white;
    font-size: 35px;
}


/* fin de slider */

section {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    z-index: 0;
}

.nosotros {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section .info {
    padding: 5%;
    display: inline-block;
    width: 40%;
}

.nosotros img {
    display: inline-block;
    width: 50%;
    -webkit-transform: rotate(0deg) scale(.7);
    transform: rotate(0deg) scale(.7);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.nosotros img:hover {
    -webkit-transform: rotate(15deg) scale(.7);
    transform: rotate(15deg) scale(.7);
}

.servicios {
    text-align: center;
    background-size: 100%;
    background: radial-gradient(ellipse at center, rgba(43, 84, 173, 1) 0%, rgba(24, 63, 161, 1) 45%, rgba(24, 63, 161, 1) 100%);
    background-repeat: no-repeat;
}

.servicios img {
    width: 50%;
}

.services-info {
    height: 100%;
    color: white !important;
    padding: 10%;
}

.services-info h3 {
    color: white;
}

.serv-container {
    display: flex;
    flex-wrap: wrap;
}

.serv-icons {
    background-color: #1956CE;
    border-radius: 20px;
    margin: 10px auto;
    padding: 5% 6%;
    width: 30%;
    height: 180px;
    position: relative;
    transition: all .7s ease;
    cursor: pointer;
}

.serv-icons:hover {
    transition: all .7s ease;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.serv-icons img {
    width: 66px;
    height: 59px;
}

.serv-icons h4 {
    margin: .6em 0;
}

.serv-icons p {
    margin: .6em 0;
}

.serv-icons a {
    font-family: fuente_bold;
    width: 15%;
    font-size: 12px;
    text-decoration: none;
    color: #1956CE;
    padding: 5px 20px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    bottom: 8%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    left: 0;
    right: 0;
}

.serv-icons a:hover {
    transition: all .7s ease;
    transform: scale(1.05);
}

.conocenos {
    width: 100%;
}

.container {
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
}

.container img {
    width: 40%;
    height: 40%;
}

.container .info {
    text-align: end;
    width: 50%;
}

.container .info a {
    font-size: 15px;
    text-decoration: none;
    color: #076FFB;
    padding: 5px 20px;
    border: 2px solid #076FFB;
    border-radius: 20px;
}


/* ----------------------web--------------------------- */


/* --------------------end web------------------------- */


/* --------------------- software ---------------------- */

.sof-banner {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/inicio/slide1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sof-banner img {
    width: 50%;
    margin: auto;
}

.sof-banner span {
    color: white;
    width: 50%;
    margin: auto;
    font-size: 28px;
    text-align: center;

}

.sof-banner i {
    color: white;
    font-size: 48px;
}

.sof-sistemas {
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: flex-start;
}

.sof-sistemas h3 {
    text-align: center;
    width: 100%;
}

.sof-sistemas h1 {
    text-align: center;
    width: 60%;
}

.sof-sistemas-img1 {
    position: absolute;
    top: 24%;
    left: 12%;
    z-index: 0;
    width: 140px;
    height: 60px;
}

.sof-sistemas-img2 {
    position: absolute;
    top: 10%;
    right: 2%;
    width: 230px;
    height: 200px;
    z-index: 0
}

.sof-sistemas section {
    width: 100%;
    height: 390px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.sof-sistemas section article {
    background-color: white;
    width: 25%;
    height: 70%;
    text-align: center;
    border-radius: 25px;
}

.sof-sistemas section article img {
    width: 20%;
    margin-top: 2%;
}

.sof-sistemas section article a {
    margin-top: 5%;
    font-size: 15px;
    text-decoration: none;
    color: #076FFB;
    padding: 5px 20px;
    border: 2px solid #076FFB;
    border-radius: 20px;
}

.sof-apps {
    width: 100%;
    height: 100vh;
    background-color: #1956CE;
    color: white;
}

.sof-apps figure {
    width: 45%;
    margin: auto;
}

.sof-apps figure img {
    width: 100%;
}

.sof-apps article {
    width: 50%;
    margin: 2%;
}
.sof-apps article h3 {
    color: white;   
}

.sof-app-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sof-app-data figure {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sof-app-data figure .img-data {
    width: 80px;
}

.sof-app-data div {
    width: 70%;
}


/* --------------------- end software ---------------------- */


/* --------------------- hardware -------------------------- */

.har-banner {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/inicio/slide5.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.har-banner-tex {
    width: 50%;
    height: 45%;
    /* border: 1px red solid; */
    text-align: center;
    color: white;
}

.har-banner-cotizador {
    width: 45%;
    height: 75%;
}

.har-diseno {
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: flex-start;
}

.har-entregables {
    width: 100%;
    height: 100vh;
    background-color: #0098cd;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.har-store {
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: flex-start;
}


/*--------------------- end hardware -----------------------*/


/* ------ FOOTER  ----------*/

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

footer h3 {
    font-family: fuente_tercearia;
}

.contact-form {
    margin: 50px auto;
    width: 25%;
    padding: 0 5%;
}

.contact-form form {
    font-size: 14px;
}

.contact-form .campo-form {
    margin: 5px auto;
    padding: 7px 0;
    padding-left: 2%;
    padding-right: 40%;
    color: white;
    background-color: #2B2B2B;
    border: 0px;
    border-radius: 3px;
}

textarea.campo-form {
    padding-bottom: 25% !important;
    padding-right: 44% !important;
}

.btn-form {
    color: white;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 20px;
    padding: 4px 30px;
}

.contact {
    margin: 50px auto;
    width: 25%;
    padding: 0 5%;
}

.footlogo {
    width: 20%;
    margin: auto 10px 20px -10px;
    text-align: end;
    padding: 0 5%;
}

.footlogo img {
    width: 220px;
    height: 50px;
}